<div>
<div class="container-fluid">
  <div class="display">
    <h2>School Full Stack</h2>
    <div class="inputs">
      <div class="col-4">
        <div class="mb-1">
          User
        </div>
        <input type="text" class="form-control" [(ngModel)]="user">
      </div>
      <div class="col-4">
        <div class="mb-1">Matricula</div>
        <input type="number" class="form-control" [(ngModel)]="qtdUser">
      </div>
    </div>
    
  </div>
     <div class="d-flex flex-row-reverse dir">
        <button class="btn btn-primary" (click)="adicionarNovoUser()">Adicionar</button>
      </div>
</div>

  
</div>