.container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
}

  .btn-primary{
    display: flex;
    margin: 6px;
  }
  
  form{
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-bottom: 35rem;
  }





  

