body{
    background-color: #fcfc30;
    background-image: url('../../assets/illustration-representing-python-vs-java.png');
    width: 100%;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0; 
    height: 100vh;
}
